extends layout

block content
  h2 Lista de usuarios

  table(border="1")
    tr
      th ID
      th Nombre
      th Email
      th Rol
      th Teléfono
      th Tienda ID
      th Activo
      th Fecha de Creación
      th Acciones

    each usuario in usuarios
      tr
        td= usuario.id
        td= usuario.nombre
        td= usuario.email
        td= usuario.rol
        td= usuario.telefono
        td= usuario.tiendaId
        td= usuario.activo
        td= usuario.fechaCreacion
        td
          a(href=`/usuarios/${usuario.id}`) Ver